<!DOCTYPE html>
<html>
<head>
    {% if page is defined %}
    <title>{pagetitle}</title>
    <meta name="description" content="{pagemetadescription}">
    <meta charset="UTF-8">
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ getAssetUrl('themes/'~template~'/assets/css/app.min.css')}}" type="text/css">
    <style>
      td{
        position:  relative;
      }
      div[data-slot-focus]{
        pointer-events: none;
      }
    </style>
</head>
<body id="bodyTag">
    {{ outputScripts('bodyOpen') }}
    {% block content %}{% endblock %}
    {{ outputScripts('bodyClose') }}
</body>
</html>